@font-face {
    font-family: "Libre Franklin";
    src: url("../assets/fonts/LibreFranklin-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Futura";
    src: url("../assets/fonts/FuturaCyrillicMedium.ttf") format("truetype");
}

body {
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 10px;
    font-family: "Libre Franklin", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(to bottom, #242124 0%, #202020 100%);
    background-color: #242124;
    color: #F8F8FF;
}

h1 {
    font-family: "Futura", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    color: #FF4500;
}

h2 {
    color: #FF4500;

}

header {
    grid-area: "header";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    border-right: #FF450055 solid 2px;
    position: sticky;
    top: 0;
}

main {
    grid-area: "main";
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#home {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1.5s ease-in;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.project {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project video {
    width: 100%;
    max-height: 500px;
    border-radius: 10px;

}

.more {
    background-color: #FF4500;
    width: auto;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    ;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}