@font-face {
    font-family: "Libre Franklin";
    src: url("../assets/fonts/LibreFranklin-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Futura";
    src: url("../assets/fonts/FuturaCyrillicMedium.ttf") format("truetype");
}

body {
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 10px;
    font-family: "Libre Franklin", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #242124;
    color: #F8F8FF;
}
h1 {
    font-family: "Futura", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    color: #FF4500;
}
header {
    grid-area: "header";
}

main {
    grid-area: "main";
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#home {
    height: 500px;
    background-image: url("../assets/images/L.gif");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}